{% extends "formbase.html" %}
{% block content %}
<h1>Add Event</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        Time:
        {{ form.time_year}}
        {{ form.time_month}}
        {{ form.time_day}}
        {{ form.time_hour}}
        {{ form.time_minute}}
        {{ form.time_second}}

    </p>
    <p>
        {{ form.how.label }}<br>
        {{ form.how(size=32) }}
    </p>
    <p>
        {{ form.who.label }}<br>
        {{ form.who(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}